.grid-button {
    height: 150px;
    width: 150px;
    background-color: yellow;
    padding: 5px;
}

.icon {
    background: url('your-image-url.jpg');
    height: 20px;
    width: 20px;
    display: block;
    /* Other styles here */
}


.viewcontent {
    width:100%;
    height:200px;
    background: red;
    display: table;
}

.viewcontent h1 {
    text-align: center;
    vertical-align: middle;
    display:table-cell;
}
