<section class="details-container">
  <div class="row no-gutters">
    <div class="col">
      <h3 data-ch5-i18n="-+buttons.standard.title+-">standard</h3>
      <div class="btn-group">
        <ch5-button class="shadow-pulse-gradient-button" customClass="gradient-button--peach" shape="rounded-rectangle"
            label="-+buttons.gradient.btn.peach+-" sendeventonclick="38" ></ch5-button>
        <ch5-button class="shadow-pulse-gradient-button" customClass="gradient-button--purple" shape="rounded-rectangle"
            label="-+buttons.gradient.btn.purple+-" sendeventonclick="25"></ch5-button>
        <ch5-button class="shadow-pulse-gradient-button" customClass="gradient-button--blue" shape="rounded-rectangle"
            label="-+buttons.gradient.btn.blue+-" sendeventonclick="31"></ch5-button>
    </div>
    <h3 data-ch5-i18n="-+buttons.volume.title+-">ANALOGUE SLIDERS</h3>
    <ch5-slider class="lighting-slider" stretch="width" handleShape="circle" toolTipShowType="auto"
              sendEventOnChange="15"
              receiveStateValue="15" orientation="horizontal"></ch5-slider>
    
    <h3 data-ch5-i18n="-+buttons.serial.title+-">SERIAL</h3>
    
    <!-- Check if we can get text input -->
    <ch5-textinput stretch="width" type="text" placeholder="Type here" sendeventonchange="6">
    </ch5-textinput>   
    
    



    <!-- Check if we can get text input -->
    <!-- <ch5-textinput stretch="width" type="text" placeholder="Type here" sendeventonchange="32">
    </ch5-textinput>
    <h3 receiveStateLabel="33"></h3> -->



  
 




    <ch5-button shape="rounded-rectangle" type="text" receivestatelabel="6"></ch5-button>

  <!-- CH5 buttons from video.js are loaded into this div -->
    <div class="" id="list-item">

    </div>

    <br>
    <br>

       <!-- Check if we can get text output on buttonpress -->
       <h3 data-ch5-innerhtml="31"></h3>

    
    <ch5-button shape="rounded-rectangle" type="text" receivestatelabel="31"></ch5-button>



</section>